<%= stylesheet_link_tag "dashboard.css", media: "all" %>
<%= render 'shared/navbar' %>

<div class="card-container">
  <% @users.each do |user| %>
    <div class="card">
      <div class="card-content">
        <div class="logo">
          <%= user.first_name[0] %><%= user.last_name[0] %>
        </div>
        <div class="info">
          <div class = "user-detail">
            <h3 class="user-name"><%= user.first_name %> <%= user.last_name %></h3>
            <p class="detail">Email : <%= user.email %></p>
          </div>
          <div class="more-info" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" /></svg>
            <p class="more-detail">More details</p>
          </div>
          <div class="detail-card" >
            <div class="user-info">
              <p class="user-gender">Gender : <%= user.gender %></p>
              <p class="user-birthday">Birthday : <%= user.birth_day %></p> 
              <p class="user-phone">Phone number : <%= user.phone_number %></p>
              <p class="user-subject">Subject : <%= user.subject %></p> 
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <%= button_to 'Delete', delete_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %>
        <%= link_to 'Edit', edit_user_path(user.id), class: "edit-button" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  document.querySelectorAll('.more-info').forEach(function(button) {
    button.addEventListener('click', function() {
      var card = button.closest('.card');  // ค้นหาการ์ดที่เกี่ยวข้องกับปุ่มที่คลิก
      card.classList.toggle('show-detail');  // เพิ่มหรือลบคลาส show-detail เพื่อแสดงหรือซ่อน detail-card
    });
  });
</script>