<%= stylesheet_link_tag "dashboard.css", media: "all" %>
<%= javascript_include_tag "dashboard.js", "data-turbo-track": "reload", defer: true %>

<%= render 'shared/navbar' %>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<%= stylesheet_link_tag "modal.css", media: "all"%>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<% if flash[:notice] %>
  <div class="flash flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<%= turbo_frame_tag "user_count" do %>
  <%= render 'shared/user_count', user_count: @users.count %>
<% end %>
<%= turbo_frame_tag "delete_modal_frame" %>
<%= turbo_frame_tag "modal_frame" %>
<%= turbo_frame_tag "register_modal_frame" %>
<%= turbo_frame_tag "edit_modal_frame" %>
<turbo-frame id="card-content">
  <%= render partial: "user/user_card", collection: @users, as: :user %>
</turbo-frame>
