<%= stylesheet_link_tag "dashboard.css", media: "all" %>
<%= render 'shared/navbar' %>

<div class="card-container">
  <% @users.each do |user| %>
    <div class="card">
      <div class="card-content">
        <div class="logo">
          <%= user.first_name[0] %><%= user.last_name[0] %>
        </div>
        <div class="info">
          <h3 class="user-name"><%= user.first_name %> <%= user.last_name %></h3>
          <p class="detail">Gender : <%= user.gender %></p>
          <p class="detail">Email : <%= user.email %></p>
          <p class="detail">Phone number : <%= user.phone_number %></p>
          <p class="detail">birthday : <%= user.birth_day %></p>
          <p class="detail"><%= user.subject %></p>


        </div>
      </div>
      <div class="btn-group">
        <%= button_to 'Delete', delete_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-button" %>
        <%= link_to 'Edit', edit_user_path(user.id), class: "edit-button" %>
      </div>
    </div>
  <% end %>
</div>