<!DOCTYPE html>
<html>
  <head>
    <title>TestRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="
    https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css
    " rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' %>
  <%= stylesheet_link_tag 'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
